spring.application.name=picpay-simplificado

spring.datasource.url= # Your database url here
spring.datasource.username= # Your database username here
spring.datasource.password= # Your database password for your user (if you have one)
spring.datasource.driver-class-name= # Class of driver of your database

spring.jpa.hibernate.ddl-auto=update

jwt.issuer.value= # Your issuer value here
jwt.secretkey.value= # Your secrety jwt key